<!DOCTYPE html>
<html lang="en">

<head>
    <title>Research Dynamics</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Research Dynamics</h3>
        </div>

        <div class="jumbotron">
            <h1>Volunteer Scheduling</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Event Creation</h4>
                <p>Admin creates events.</p>

                <h4>Event Management</h4>
                <p>Users and Admin view the shifts they currently have and choose to edit or delete them. </p>

                <h4>Timetabling</h4>
                <p>Admins or users to view shifts for an event or shits they have signed up for.</p>
            </div>

            <div class="col-lg-6">
                <h4>Event Sign-up</h4>
                <p>Users with an account will be able to save their information for signup purposes and also be able to see all their shits across multiple events.</p>

                <h4>Account Management</h4>
                <p>Different features will be available to Users and Admins.</p>

                <h4>Communication</h4>
                <p>Allows Admins to send emails of confirmations and reminds, as well as notices that they admin of an event my have to users.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2017</p>
        </footer>

    </div>
</body>

</html>
